<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Datos de la App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
<ion-content>
  <ion-text>
    <p>Esta app dira las noticias en el mundo en tiempor real</p>
    <p>Puedes pulsar en regiones del mundo y ver la informacion mas importante</p>
    <p>o las noticias mas relevantes de la zona donde has pulsado</p>
  </ion-text>
</ion-content>
<ion-content>
  <ion-img ></ion-img>
</ion-content>
<ion-content>
  <ion-button routerLink="/inicio" >Inicio</ion-button>
</ion-content>
<ion-content>
  <ion-back-button defaultHref="inicio"></ion-back-button>
  </ion-content>