
  .content {
    padding: 10px; 
    background-color: #1da1f2; 
    color: white; 
    text-align: center;
    font-weight: bold;
  }
  
 
  ion-card {
    margin-bottom: 20px; 
    width: 300px;
    margin: auto;
  }
  
 
  ion-card-title h1 {
    font-size: 1.2em; 
    font-weight: bold;
    width: 300px;
    margin: auto;
  }
  
 
  ion-card-content p {
    font-size: 1em; 
    line-height: 1.2; 
    width: 300px;
    margin: auto;
    
  }
  
  ion-card img {
    width: 300px;
    margin: auto;
  }
  ion-back-button{
    color: white; 
  }