<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>tendencias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">tendencias</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>

<ion-content>
  <ion-card>
    <img src="assets/img/asoc1.png"/>
    <ion-card-content>
      <ion-card-title>
        <h1>Guerra se intensifica en Israel</h1>
        </ion-card-title>
      <p>
        Las fuerzas israelís continúan su desspliegue en las 
        zonas próximas a la franja para intentar recuperar 
        el control frente a los combatientes de Hamás. 
        El balance de muertos supera ya el millar y la tensión 
        bélica se ha extendido por toda la región.
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="assets/img/afganis1.png"/>
    <ion-card-content>
      <ion-card-title>
        <h1>Terremoto desolador en Afganistan</h1>
        </ion-card-title>
      <p>
        Un poderoso terremoto de magnitud 6,3 arrasó con pueblos enteros en Afganistán.

El desastre -ocurrido el sábado en la mañana- 
golpeó la provincia de Herat, ubicada en el 
oeste del país, donde la mayoría de las casas 
están hechas de adobe, careciendo de buenos cimientos..
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="assets/img/asoc1.png"/>
    <ion-card-content>
      <ion-card-title>
        <h1>Guerra se intensifica en Israel</h1>
        </ion-card-title>
      <p>
        Las fuerzas israelís continúan su desspliegue en las 
        zonas próximas a la franja para intentar recuperar 
        el control frente a los combatientes de Hamás. 
        El balance de muertos supera ya el millar y la tensión 
        bélica se ha extendido por toda la región.
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="assets/img/asoc1.png"/>
    <ion-card-content>
      <ion-card-title>
        <h1>Guerra se intensifica en Israel</h1>
        </ion-card-title>
      <p>
        Las fuerzas israelís continúan su desspliegue en las 
        zonas próximas a la franja para intentar recuperar 
        el control frente a los combatientes de Hamás. 
        El balance de muertos supera ya el millar y la tensión 
        bélica se ha extendido por toda la región.
      </p>
    </ion-card-content>
  </ion-card>
  <ion-back-button defaultHref="inicio"></ion-back-button>
  </ion-content>
