
<ion-header>
  <ion-toolbar>
    <ion-title>TENDENCIAS</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content >
  <div class="content">
  <ion-card>
    <img src="assets/img/asoc1.png"/>
    <ion-card-content>
      <ion-card-title>
        <h1>Guerra se intensifica en Israel</h1>
        </ion-card-title>
      <p>
        Las fuerzas israelís continúan su desspliegue en las 
        zonas próximas a la franja para intentar recuperar 
        el control frente a los combatientes de Hamás. 
        El balance de muertos supera ya el millar y la tensión 
        bélica se ha extendido por toda la región.
      </p>
    </ion-card-content>
    <p>
      
    </p>
  </ion-card>
  <p>
      
  </p>
  <ion-card>
    <img src="assets/img/afganis1.png"/>
    <ion-card-content>
      <ion-card-title>
        <h1>Terremoto desolador en Afganistan</h1>
        </ion-card-title>
      <p>
        Un poderoso terremoto de magnitud 6,3 arrasó con pueblos enteros en Afganistán.
        El desastre -ocurrido el sábado en la mañana- 
        golpeó la provincia de Herat, ubicada en el 
        oeste del país, donde la mayoría de las casas 
        están hechas de adobe, careciendo de buenos cimientos..
      </p>
    </ion-card-content>
  </ion-card>
  <p>
      
  </p>
  <ion-card>
    <img src="assets/img/euro1.png"/>
    <ion-card-content>
      <ion-card-title>
        <h1>Guerra entre Rusia y Ucrania</h1>
        </ion-card-title>
      <p>
        Últimas noticias sobre la guerra desatada tras la invasión 
        de Ucrania por parte de Rusia. En este directo puede seguir 
        las últimas noticias de actualidad sobre el conflicto en 
        Europa del Este, al minuto.
      </p>
    </ion-card-content>
  </ion-card>
  <p>
      
  </p>
  <ion-card>
    <img src="assets/img/canguro.png"/>
    <ion-card-content>
      <ion-card-title>
        <h1>Cuocas vs Canguros</h1>
        </ion-card-title>
      <p>
        Australia esta sufriendo una de las mayores crisis 
        sobre su fauna autoctona desde la guerra del emu.
        las autoridades australianas recomiendan a sus ciudadanos 
        no salir de casa para no llevarse una patada de canguro 
        o evitar que un cuoca le lance a su cria.
      </p>
    </ion-card-content>
  </ion-card>
  <ion-back-button defaultHref="inicio"></ion-back-button>
</div>
  </ion-content>