<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="search-outline"></ion-icon>
    </ion-buttons>
    <ion-searchbar placeholder="Buscar Noticia"></ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-content>
      <p><ion-button routerLink="/asia-or" >Asia Occidental</ion-button></p>

      <p><ion-button routerLink="/asia-or" >Asia Oriental</ion-button></p>
    
      <p><ion-button routerLink="/europa" >Europa</ion-button></p>
    
      <p><ion-button routerLink="/america-nor" >Norte America</ion-button></p>
    
      <p><ion-button routerLink="/america-sur" >Sur America</ion-button></p>
    
      <p><ion-button routerLink="/afric" >Africa</ion-button></p>
    
      <p><ion-button routerLink="/ocean">Oceania</ion-button></p>
    
<ion-back-button defaultHref="inicio"></ion-back-button>
</ion-content>