<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="search-outline"></ion-icon>
    </ion-buttons>
    <ion-searchbar placeholder="Buscar Noticia"></ion-searchbar>
      <ion-button routerLink="/asia-or">Asia Occidental</ion-button>
      <ion-button routerLink="/asia-or">Asia Oriental</ion-button>
      <ion-button routerLink="/europa">Europa</ion-button>
      <ion-button routerLink="/america-nor">Norte America</ion-button>
      <ion-button routerLink="/america-sur">Sur America</ion-button>
      <ion-button routerLink="/afric">Africa</ion-button>
      <ion-button routerLink="/ocean">Oceania</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-icon name="search-outline"></ion-icon>
      </ion-buttons>
      <ion-searchbar placeholder="Buscar en Twitter"></ion-searchbar>
    </ion-toolbar>
  </ion-header>
</ion-content>

<ion-content>
<ion-back-button defaultHref="inicio"></ion-back-button>
</ion-content>