<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="search-outline"></ion-icon>
    </ion-buttons>
    <ion-searchbar placeholder="Buscar Noticia"></ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-list>
      <p><ion-button block (click)="doAlert()" >Asia Occidental</ion-button></p>
      <p><ion-button block (click)="doAlert()" >Asia Oriental</ion-button></p>
      <p><ion-button block (click)="doAlert()" >Europa</ion-button></p>
      <p><ion-button block (click)="doAlert()" >Norte America</ion-button></p>
      <p><ion-button block (click)="doAlert()" >Sur America</ion-button></p>
      <p><ion-button block (click)="doAlert()" >Africa</ion-button></p>
      <p><ion-button block (click)="doAlert()">Oceania</ion-button></p>
    </ion-list>
<ion-back-button defaultHref="inicio"></ion-back-button>
</ion-content>