<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">inicio</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content>
 <p> <ion-button routerLink="/lo-r" class="boton1">
  Informacion sobre la pagina
</ion-button></p>

  <p><ion-button routerLink="/tabs" class="boton2">
    Notice
  </ion-button></p>
</ion-content>
</ion-content>
